/* From Uiverse.io by Cobp */ 
.container-cards-ticket {
    perspective: 1000px;
  }
  
  .card-ticket {
    position: relative;
    height: 150px;
    width: 320px;
    display: flex;
    color: #113F67;
    background-color: #F7FBFC;
    border-radius: 1rem;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.25);
    z-index: 10;
    gap: 1rem;
    animation: animation-card 10s infinite;
    overflow: hidden;
  
    &:hover {
      animation-play-state: paused;
      transform: translateY(-30px);
  
      & .content-ticket::after,
      & .content-ticket::before,
      & .container-icons {
        animation-play-state: paused;
      }
    }
  }
  
  .separator {
    position: absolute;
    top: 0;
    left: 50px;
    width: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
  
    & .span-lines {
      position: relative;
      display: flex;
      height: 100%;
      border-left: 2px dashed #B9D7EA;
  
      &::after {
        content: "";
        position: absolute;
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 16px;
        height: 16px;
        border-radius: 16px;
        background-color: #B9D7EA;
      }
  
      &::before {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 16px;
        height: 16px;
        border-radius: 1rem;
        background-color: #B9D7EA;
      }
    }
  }
  
  .content-ticket {
    position: relative;
    justify-content: space-between;
    width: 100%;
    display: flex;
  
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.8)
      );
      transform: translateX(200px) scale(1.5);
      filter: blur(10px);
      width: 200px;
      height: 100%;
      animation: shadow-card 10s infinite;
    }
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100px;
      background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0),
        #F7FBFC,
        rgba(0, 0, 0, 0)
      );
      transform: translateX(-100px) scale(1.5) rotate(20deg);
      width: 80px;
      height: 100%;
      animation: light-card 10s infinite;
    }
  }
  
  .content-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0.625rem 0.75rem;
    gap: 0.25rem;
  
    & .data-flex,
    & .data-flex-col {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 0.25rem;
    }
  
    & .data-flex-col {
      padding-bottom: 0.25rem;
      flex-direction: column;
    }
  }
  
  .data {
    font-size: 10px;
    line-height: 12px;
  
    & .title {
      color: #769FCD;
    }
  
    & .subtitle {
      font-weight: 500;
      color: #113F67;
    }
  }
  
  .destination {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    & .dest {
      display: flex;
      flex-direction: column;
  
      & .country {
        font-size: 10px;
        line-height: 1;
        color: #769FCD;
      }
  
      & .acronym {
        font-weight: 700;
        color: #113F67;
      }
  
      & .hour {
        font-size: 10px;
        line-height: 12px;
        display: flex;
        align-items: center;
        gap: 4px;
        color: #113F67;
      }
    }
  }
  
  .container-icons {
    width: fit-content;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: color-card 10s infinite;
    z-index: -1;
  
    & .icon {
      color: #ffffff;
    }
  }
  
  @keyframes animation-card {
    0% {
      transform: translateZ(0px);
    }
  
    25% {
      transform: translateX(-10px) rotateY(-20deg);
    }
  
    75% {
      transform: translateX(10px) rotateY(20deg);
    }
  
    100% {
      transform: translateZ(0px);
    }
  }
  
  @keyframes light-card {
    25% {
      transform: translateX(450px) scale(1.5) rotate(25deg);
    }
  
    50% {
      transform: translateX(-100px) scale(1.5) rotate(25deg);
    }
  }
  
  @keyframes shadow-card {
    35% {
      transform: translateX(200px) scale(1.5);
    }
  
    75% {
      transform: translateX(0px) scale(1.5);
    }
  }
  
  @keyframes color-card {
    0% {
      background-color: #B9D7EA;
    }
  
    10% {
      background-color: #769FCD;
    }
  
    15%,
    25% {
      background-color: #113F67;
    }
  
    35% {
      background-color: #769FCD;
    }
  
    40% {
      background-color: #B9D7EA;
    }
  
    50% {
      background-color: #769FCD;
    }
  
    55%,
    75% {
      background-color: #113F67;
    }
  
    75% {
      background-color: #769FCD;
    }
  
    100% {
      background-color: #B9D7EA;
    }
  }
  